---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yrY88X2X4xFBXcaTM06PCw", oauth_nonce="6742401f4b54d348a2fcd7bc173cfee9",
        oauth_signature="EBenLYlOisXMk3IdN1Fsd19Grh8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1392258396", oauth_token="15334617-9E1fyYWv4Y91J8AJES36kVq6mOfiP1HZpI5eyGFcS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 13 Feb 2014 02:26:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1392259298'
      X-Transaction:
      - dd9c9abb7a722a5a
    body:
      encoding: UTF-8
      string: |-
        {
          "id": 15334617,
          "id_str": "15334617",
          "name": "Rolen Le",
          "screen_name": "RolenTLe",
          "location": "Denver",
          "description": "Ruby on Rails Apprentice. Start Up Ronin.",
          "url": null,
          "entities": {
            "description": {
              "urls": [

              ]
            }
          },
          "protected": false,
          "followers_count": 472,
          "friends_count": 733,
          "listed_count": 15,
          "created_at": "Sun Jul 06 18:34:41 +0000 2008",
          "favourites_count": 522,
          "utc_offset": -18000,
          "time_zone": "Eastern Time (US & Canada)",
          "geo_enabled": false,
          "verified": false,
          "statuses_count": 5362,
          "lang": "en",
          "status": {
            "created_at": "Thu Feb 13 00:46:15 +0000 2014",
            "id": 433764016381374464,
            "id_str": "433764016381374464",
            "text": "RT @_brody: OH: World of Warcraft described as \"Virtual LARPing\"",
            "source": "web",
            "truncated": false,
            "in_reply_to_status_id": null,
            "in_reply_to_status_id_str": null,
            "in_reply_to_user_id": null,
            "in_reply_to_user_id_str": null,
            "in_reply_to_screen_name": null,
            "geo": null,
            "coordinates": null,
            "place": null,
            "contributors": null,
            "retweeted_status": {
              "created_at": "Wed Feb 12 21:16:37 +0000 2014",
              "id": 433711262606708736,
              "id_str": "433711262606708736",
              "text": "OH: World of Warcraft described as \"Virtual LARPing\"",
              "source": "web",
              "truncated": false,
              "in_reply_to_status_id": null,
              "in_reply_to_status_id_str": null,
              "in_reply_to_user_id": null,
              "in_reply_to_user_id_str": null,
              "in_reply_to_screen_name": null,
              "geo": null,
              "coordinates": null,
              "place": null,
              "contributors": null,
              "retweet_count": 2,
              "favorite_count": 0,
              "entities": {
                "hashtags": [

                ],
                "symbols": [

                ],
                "urls": [

                ],
                "user_mentions": [

                ]
              },
              "favorited": false,
              "retweeted": true,
              "lang": "en"
            },
            "retweet_count": 2,
            "favorite_count": 0,
            "entities": {
              "hashtags": [

              ],
              "symbols": [

              ],
              "urls": [

              ],
              "user_mentions": [
                {
                  "screen_name": "_brody",
                  "name": "Eric Brody",
                  "id": 15079199,
                  "id_str": "15079199",
                  "indices": [
                    3,
                    10
                  ]
                }
              ]
            },
            "favorited": false,
            "retweeted": true,
            "lang": "en"
          },
          "contributors_enabled": false,
          "is_translator": false,
          "is_translation_enabled": false,
          "profile_background_color": "F5FEFF",
          "profile_background_image_url": "http://pbs.twimg.com/profile_background_images/54296770/yeaaaaah.gif",
          "profile_background_image_url_https": "https://pbs.twimg.com/profile_background_images/54296770/yeaaaaah.gif",
          "profile_background_tile": true,
          "profile_image_url": "http://pbs.twimg.com/profile_images/378800000534612692/70fe7ff1cb031a46062769dd496c057c_normal.jpeg",
          "profile_image_url_https": "https://pbs.twimg.com/profile_images/378800000534612692/70fe7ff1cb031a46062769dd496c057c_normal.jpeg",
          "profile_link_color": "0000FF",
          "profile_sidebar_border_color": "87BC44",
          "profile_sidebar_fill_color": "E0FF92",
          "profile_text_color": "000000",
          "profile_use_background_image": true,
          "default_profile": false,
          "default_profile_image": false,
          "following": false,
          "follow_request_sent": false,
          "notifications": false
        }
  recorded_at: Thu, 13 Feb 2014 02:26:37 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&user_id=15334617
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yrY88X2X4xFBXcaTM06PCw", oauth_nonce="ab63d785838c045372b653e7ebaf771e",
        oauth_signature="a4pisKL%2BjPrIpP20QoOOKbAAyoo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1392258397", oauth_token="15334617-9E1fyYWv4Y91J8AJES36kVq6mOfiP1HZ[...]
